Rys::Patcher.add('Project') do

  included do
    # has_many :things

    after_commit :rys_management_ensure_something, if: -> { Rys::Feature.active?('rys_management.project') }
  end

  instance_methods do

    private

      def rys_management_ensure_something
        puts 'Features are activated'
      end

  end

  instance_methods(feature: 'rys_management.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end

end
