<% ### PAGE CUSTOMS ########################################################## %>

<% content_for :easy_page_layout_service_box_bottom do %>
  <div class="customize-button-container">
    <%= link_to(l(:label_personalize_page), {:action => 'personalize_show', :id => @project, :t => params[:t]}, :class => 'customize-button button') if User.current.allowed_to?(:manage_page_project_overview, @project) %>
  </div>
<% end %>

<% content_for :easy_page_layout_service_box_primary_actions do %>
  <% if @project %>
    <%= call_hook(:view_projects_show_sidebar_primary_actions, :project => @project) %>
  <% end -%>
<% end %>

<%= call_hook(:view_projects_show_bottom, {:project => @project}) %>
