<% unless @time_entry.project.blank? %>
  <div class="combo-container no-label-required-by-css">
    <p>
      <%= label_for_field(:issue_id, {:required => EasyGlobalTimeEntrySetting.value('required_issue_id_at_time_entry', User.current.roles_for_project(@time_entry.project))})-%><%= easy_autocomplete_tag(
        'issue_id',
        {:name => @time_entry.issue.blank? ? '' : @time_entry.issue.to_s, :id => @time_entry.issue_id},
        url_for(:action => 'load_assigned_issues', :format => 'json', :user_id => @user.id, :project_id => @time_entry.project_id),
        :include_blank => true
      ) -%>
    </p>
  </div>
<% end %>
