<span class="multieditable-parent">
  <span title="<%= l(:title_inline_editable) %>" tabindex="-1" class="editable entity-array">
    <%= render partial: 'easy_taggables/tags', locals: { tag_list: entity.tag_list } %>
  </span>
</span>
