<%= title l(:label_easy_tags) %>

<div class="entity-array">
  <% tag_cloud(ActsAsTaggableOn::Tag.order(:name), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to "#{tag.name} (#{tag.taggings_count})", easy_tag_path(tag.name), class: css_class %>
  <% end %>
</div>
