<h2><%= l('easy_imports.help.workflow.title') %></h2>
<p>
  <%= l('easy_imports.help.workflow.body') %>
</p>

<h2><%= l('easy_imports.help.members.title') %></h2>
<p>
  <%= l('easy_imports.help.members.body') %>
</p>
