<% reports_by_user = @reports.group_by(&:user) %>
<% reports_by_user.each do |user, reports| %>
  <p><b><%= user.name %></b></p>
  <div style="max-width: 960px; overflow-x: auto">
    <table class="list">
      <tr>
        <%= render partial: 'alert_mailer/easy_query_columns_in_table_header', locals: { query: @query } %>
      </tr>
      <% reports.each do |report|
        next if report.entity.nil? %>
        <tr>
          <%= render partial: 'alert_mailer/easy_query_columns_in_table', locals: { query: @query, report: report } %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<br />
<%= link_to(@alert.caption, {controller: 'alerts', action: 'show', id: @alert, only_path: false}, title: l(:title_alerts_show_alert, alertname: @alert.caption)) %>
