<p>
  <%= form.check_box :easy_resource_dont_allocate, label: l(:label_easy_meeting_easy_resource_dont_allocate) %>
  <em class="block"><%= l(:text_easy_meeting_easy_resource_dont_allocate) %></em>
</p>
