Rys::Patcher.add('Project') do
  apply_if_plugins :easy_extensions

  included do
    # has_many :things

    after_commit :easy_sso_ensure_something, if: -> { Rys::Feature.active?('easy_sso.project') }
  end

  instance_methods do
    private

      def easy_sso_ensure_something
        puts 'Features are activated'
      end

  end

  instance_methods(feature: 'easy_sso.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end
end
