<li>
  <%= link_to_function(l(:button_print), "$.get('#{j(url_for({:controller => 'easy_printable_templates', :action => 'template_chooser', :format => nil, :entity_id => entity_id, :entity_type => entity_type, :project_id => project, :back_url => back_url, :selected_ids => selected_ids}))}', {entity_settings: $('#query_form').data('serialized-url')})", :class => 'icon icon-print', :title => l(:title_other_formats_links_print)) %>
</li>
