<% if !disabled_modules.include?('easy_knowledge') && source_project_and_descendants.has_module(:easy_knowledge).any? %>
  <label class="inline"><%= check_box_tag 'only[]', 'easy_knowledge', true %> <%= l(:menu_easy_knowledge) %></label>
<% end %>