<% if EasySetting.value('show_billable_things') %>
  <p class="">
    <%= hidden_field_tag "#{tag_name_prefix}[easy_billed]", '0', :id => nil %>
    <%= hidden_field_tag "#{tag_name_prefix}[easy_is_billable]", '0', :id => nil %>
    <%= check_box_tag "#{tag_name_prefix}[easy_is_billable]", '1', time_entry.easy_is_billable?  -%><%= label_tag "#{tag_name_prefix}[easy_is_billable]", l(:field_easy_is_billable) -%>
  </p>
<% end %>
