<div id="easy_money_easy_crm_case" class="box">
  <h3 class="icon icon-money"><%= l(:label_easy_money) %></h3>
  <%= render :partial => 'easy_money/entity_overview', :locals => {:project => project, :entity => easy_crm_case, easy_currency_code: project.easy_currency_code} %>
</div>
