<div id="list-top">
  <%= yield :easy_page_zone_top_middle %>
</div>
<div class="splitcontent">
  <div id="list-left" class="splitcontentleft size-6">
    <%= yield :easy_page_zone_middle_left %>
  </div>
  <div id="list-right" class="splitcontentright size-4">
    <%= yield :easy_page_zone_middle_right %>
  </div>
</div>