<p>
  <%= label_tag(:custom_field_settings_rating_star_no, l(:label_field_format_rating_star_no)) %><%= text_field_tag 'custom_field[settings][star_no]', custom_field.settings['star_no'] || 5, :size => 1 %>
</p>