Rys::Patcher.add('Project') do

  included do
    # has_many :things

    after_commit :swagger_ensure_something, if: -> { Rys::Feature.active?('swagger.project') }
  end

  instance_methods do

    private

      def swagger_ensure_something
        puts 'Features are activated'
      end

  end

  instance_methods(feature: 'swagger.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end

end
