<div id="easy-pages-zones">
  <h2><%= l(:label_easy_pages) -%></h2>

  <% if (@zones.empty?) -%>
  <p class="nodata"><%= l(:label_no_data) %></p>
  <% else -%>
    <table class="list">
      <% @zones.each do |zone| %>
        <tr>
          <td><%= link_to zone.zone_name, {:controller => 'easy_page_zones', :action => 'show', :id => zone.id }, { :title => l(:title_easy_page_zone_show) } -%></td>
          <td><%= link_to l(:button_edit), {:controller => 'easy_page_zones', :action => 'edit', :id => zone.id }, { :class => 'icon icon-edit', :title => l(:title_easy_page_zone_edit) } -%></td>
        </tr>
      <% end -%>
    </table>
  <% end -%>
</div>

<% ### PAGE CUSTOMS ########################################################## %>
