Rys::Patcher.add('Project') do

  included do
    # has_many :things

    after_commit :easy_core_ensure_something, if: -> { Rys::Feature.active?('easy_core.project') }
  end

  instance_methods do

    private

      def easy_core_ensure_something
        puts 'Features are activated'
      end

  end

  instance_methods(feature: 'easy_core.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end

end
