<div class="contextual">
  <%= link_to(l(:button_back), import_test_cases_csv_import_path(@easy_entity_import)) %>
</div>
<div id="import_output">
  <% if @output.present? %>
    <%= render(partial: 'test_cases_csv_import/import', locals: { output: @output }) %>
  <% else %>
    <p style="padding: 40px 0;display:none"><i class="indicator icon-loading icon-spin"></i></p>
  <% end %>
</div>
