<tr>
  <td colspan="2"><%= l(:label_easy_wbs) %>:</td>
</tr>
<tr>
  <td>
    <%= easy_printable_template_link_to_add_token('%easy_wbs_current%', f, l(:label_easy_wbs)) %>
  </td>
  <td>
    <%= l(:text_easy_wbs_print_easy_wbs_current) %>
  </td>
</tr>
