<i class="icon-error red" style="font-size: 48pt"></i>
<p style="white-space: pre;"><%= l 'internal_server_error.easy_support_not_found_message' %></p>
<div id="login-form">
  <hr>
  <p><button onclick="history.go(-1);" class="button-positive"><%= l 'internal_server_error.go_back' %></button>
  </p>
  <p><%= l 'internal_server_error.contact_support' %></p>
</div>
