<i class="icon-magnifier red" style="font-size: 48pt"></i>
<h2>404: Page not found</h2>
<p><%= l 'internal_server_error.not_found_message' %></p>
<div id="login-form">
  <hr>
  <p><button onclick="history.go(-1);" class="button-positive"><%= l 'internal_server_error.go_back' %></button>
  </p>
  <p><%= l 'internal_server_error.contact_support' %></p>
</div>
