<div class="alerts-report-entity-name"><%= link_to(report.entity.name, { :controller => 'projects', :action => 'show', :id => report.entity_id}) if report.entity -%></div>
<div class="alerts-report-entity-watch"><%= l(:label_alert_condition_was_satisfied) %></div>
