<span><%= link_to(report.alert.name, {:controller => 'alerts', :action => 'show', :id => report.alert.id, :only_path => false}, :title => l(:title_alerts_show_alert, :alertname => report.alert.name)) -%></span>
<span><%= link_to(report.entity.name, {:controller => 'projects', :action => 'show', :id => report.entity_id, :only_path => false}, :title => l(:title_alerts_report_entity_project, :entityname => report.entity.name)) -%></span>
<span><%= l(:label_project_query_report) %></span>
