<span><%= link_to(report.alert.name, {:controller => 'alerts', :action => 'show', :id => report.alert.id, :only_path => false}, :title => l(:title_alerts_show_alert, :alertname => report.alert.name)) -%></span>
<span><%= link_to(report.entity.subject, issue_url(report.entity_id, :only_path => false), :title => l(:title_alerts_report_entity_issue, :entityname => report.entity.subject)) -%></span>
<span><%= l(:label_issue_query_report) %></span>
