<div class="alerts-report-entity-name"><%= link_to(report.entity.number, project_easy_invoice_path(report.entity_id, :project_id => report.entity.project)) if report.entity -%></div>
<div class="alerts-report-entity-watch"><%= l(:label_alert_condition_was_satisfied) %></div>
