<span><%= link_to(report.alert.name, alert_url(report.alert_id, :only_path => false), :title => l(:title_alerts_show_alert, :alertname => report.alert.name)) -%></span>
<span><%= link_to(report.entity.subject, issue_url(report.entity_id, :only_path => false), :title => l(:title_alerts_report_entity_issue, :entityname => report.entity.subject)) -%></span>
<span><%= l(:label_easy_alerts_helpdesk_monitor_hours_to_response_report, :due_time => format_time(report.entity.easy_response_date_time)).html_safe if report.entity && report.entity.easy_response_date_time -%></span>
