<p>
  <label>
    <%= l(:label_easy_alerts_project_estimated_hours_form_before) -%>
  </label>
  <label class="inline">
    <%= text_field_tag 'percentage', @settings[:percentage], :size => 5 %> %
    <%= l(:label_easy_alerts_project_estimated_hours_form_after) -%>
  </label>
</p>