<div class="alerts-report-entity-name"><%= link_to(report.entity.name, { :controller => 'users', :action => 'show', :id => report.entity_id}) if report.entity-%></div>
<div class="alerts-report-entity-watch"><%= report.alert.rule_settings[:time_period] == 'week' ? l(:label_timeentry_time_watcher_previous_week_report) : l(:label_timeentry_time_watcher_previous_report) %>  </div>
