<span><%= link_to(report.alert.name, {:controller => 'alerts', :action => 'show', :id => report.alert.id, :only_path => false}, :title => l(:title_alerts_show_alert, :alertname => report.alert.name)) -%></span>
<span><%= link_to(report.entity.name, {:controller => 'users', :action => 'show', :id => report.entity_id, :only_path => false}, :title => l(:title_alerts_report_entity_user, :entityname => report.entity.name)) -%></span>
<span><%= report.alert.rule_settings[:time_period] == 'week' ? l(:label_timeentry_time_watcher_previous_week_report) : l(:label_timeentry_time_watcher_previous_report) %></span>
