<div class="easy-invite-colleagues__form-wrapper text-center">
  <div>
    <%= link_to(l('easy_imports.import_data'), easy_imports_path, remote: true, class: 'easy-invite-colleagues__submit') %>
  </div>
</div>
