<div class="easy-imports__form-wrapper">
  <div id="import-entities-container">
    <%= render_tabs import_entities_tabs, nil, do_not_change_url: true %>
  </div>
</div>

<div id="easy-imports-progress-container" class="hidden">
  <%= render partial: 'easy_imports/import_in_progress' %>
</div>
