Rys::Patcher.add('IssuesController') do

  # apply_if_plugins :easy_extensions

  included do
    before_action :easy_api_add_flash_notice, only: [:show]
  end

  instance_methods do
    def show
      Rys::Feature.on('easy_api.issue.show') do
        @easy_api_test_1 = 'Test 2'
      end

      super
    end

    private

      def easy_api_add_flash_notice
        if Rys::Feature.active?('easy_api.issue.show', 'easy_api.project.show')
          flash.now[:notice] = 'Features are activated'
        end
      end
  end


  instance_methods(feature: 'easy_api.issue.show') do
    def show
      @easy_api_test_2 = 'Test 2'

      super
    end
  end

  class_methods do
  end

end
