<% query = easy_page_modules_data[:query] %>

<% if query %>
  <span class="after-apply-global-filters-module-need-reloading"></span>
  <%= render 'easy_gantt_resources/index', project: nil,
                                           query: query,
                                           show_query: false %>

  <script type="text/javascript">
    window.ysy = window.ysy || {};
    ysy.settings = ysy.settings || {};
    EasyGem.extend(ysy.settings, {
      withoutUnassigned: <%= settings['hide_unassigned'] == '1' %>
    });
  </script>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
