Rys::Patcher.add('Project') do

  included do
    # has_many :things

    after_commit :search_in_administration_ensure_something, if: -> { Rys::Feature.active?('search_in_administration.project') }
  end

  instance_methods do

    private

      def search_in_administration_ensure_something
        puts 'Features are activated'
      end

  end

  instance_methods(feature: 'search_in_administration.project') do
    def to_s
      "I'am cool " + super
    end
  end

  class_methods do
  end

end
