<% container ||= 'find_by_user_container' %>
<h3 class="title"><%= l(:sidebar_all_users_queries) %></h3>
<%= render :partial => 'common/freetext_quick_search', :locals => {:free_search_options => {
    :free_search_url => url_for({:controller => 'easy_issues', :action => 'find_by_user'}),
    :free_search_element_to_update => container, :free_search_params => 'q', :placeholder => l(:label_user_search),
    :free_search_always_fire => true, :free_search_field_name => "#{container}_modal_entity_q", delete_pagination: false }} %>
<div id="<%= container %>">
  <%= render :partial => 'find_by_user_list', :locals => {:users => users} %>
</div>
