<% if @issue.safe_attribute? 'custom_field_values' %>
  <% custom_field_values = @issue.editable_custom_field_values.select{|cfv| cfv.custom_field.show_on_more_form == show_on_more_form} %>
 <div class="splitcontent">
    <div class="splitcontentleft">
      <% i = 0 %>
      <% split_on = (custom_field_values.size / 2.0).ceil - 1 %>
      <% custom_field_values.each do |value| %>
        <p><%= custom_field_tag_with_label :issue, value, {:required => @issue.required_attribute?(value.custom_field_id)}, {:show_confirm_checkbox => false, :editable => false} -%></p>
        <% if i == split_on -%>
        </div>
        <div class="splitcontentright">
        <% end -%>
        <% i += 1 -%>
      <% end -%>
    </div>
  </div>
<% end -%>
<div class="view_issues_edit_form_updatable_attributes_bottom">
  <%= labelled_fields_for :issue, @issue do |f| %>
    <%= call_hook(:view_issues_edit_form_updatable_attributes_bottom, { :issue => @issue, :form => f, :project => @issue.project, :show_on_more_form => show_on_more_form }) %>
  <% end %>
</div>
