<%%
 # This setting is available on /rys_management/<%= underscored_name %>/edit
 # All values are stored in EasySettings
 # Each key have own record
%>

<p>
  <%% # This value is accesible via `<%= camelized_modules %>.setting(:value)` %>
  <%% #                          or `EasySetting.value(:<%= underscored_name %>_value)` %>
  <%%= form.label :value, l('field_value') %>
  <%%= form.text_field :value %>
</p>
