<h2><%= l(:label_easy_page_template_user_modules, :templatename => @page_template.template_name) -%></h2>
<% html_title(l(:label_easy_page_template_show)) -%>
<%= context_menu issues_context_menu_path, 'table.issues' -%>