<li id="toolbar_<%= dom_id(easy_contact) %>" class="easy-contact-toolbar-item assignable-list-item ui-state-default list-item" data-easy-contact-id="<%= easy_contact.id %>" data-easy-contact-name="<%= easy_contact.name %>">
  <%= link_to_easy_contact(easy_contact) %>
</li>
