<%
  settings[:display_from] ||= '08:00'
  settings[:display_to] ||= '19:00'
%>

  <div class="box tabular">
    <p>
      <label><%= l(:label_calendar_display_range) %></label>
      <%= text_field_tag "#{block_name}[display_from]", settings[:display_from], :size => 3, :type => 'time' %>
      <%= text_field_tag "#{block_name}[display_to]", settings[:display_to], :size => 3, :type => 'time' %>
    </p>
  </div>

  <% calendars = EasyCalendar::AdvancedCalendar.allowed_registered_calendars.select {|id, klass| klass.try(:has_project_events?)} %>
  <%= render :partial => 'easy_calendar/calendar_select', :locals => {:settings => settings, :block_name => block_name, :calendars => calendars} %>
