<h3 class="title"><%= l(:heading_populate_backlog_modal) %></h3>

<span id="new_issue_tabs">
  <span class="tabs tab-container">
    <%= render partial: 'common/entity_tabs', locals: { tabs: new_issue_tabs, tabs_container: 'new_issue_tabs' } %>
  </span>
</span>
