<div id="agile_board_container">
  <%= call_hook(:view_easy_agile_board_backlog_top, easy_sprint: @easy_sprint) %>
  <%#= render partial: 'easy_agile_board/coworkers', locals: {project: @project, easy_sprint: @easy_sprint, coworkers: @coworkers} %>

  <%= render @query, options: { hascontextmenu: false, additional_tagged_url_options: { scrum_backlog: true, sprint_id: @easy_sprint.id }, show_columns_criteria: false, show_sort_criteria: false, show_group_by_criteria: false, show_settings_criteria: false, show_free_search: false }, form_options: { free_search_options: { free_search_url: output_data_easy_queries_path(@query.to_params.merge(output: 'agile_backlog', project_id: @query.project, format: :json)) } } %>
</div>


<% content_for :sidebar do %>
  <%= render partial: 'easy_agile_board/sidebar', locals: { project: @project, easy_sprint: @easy_sprint, agile_action: 'backlog', show_sprint_button_in_primary_actions: true } %>
<% end %>
