Rys::Patcher.add('IssuesController') do

  included do
    before_action :ryspec_add_flash_notice, only: [:show]
  end

  instance_methods do
    def show
      Rys::Feature.on('ryspec.issue.show') do
        @ryspec_test_1 = 'Test 2'
      end

      super
    end

    private

      def ryspec_add_flash_notice
        if Rys::Feature.active?('ryspec.issue.show', 'ryspec.project.show')
          flash.now[:notice] = 'Features are activated'
        end
      end
  end


  instance_methods(feature: 'ryspec.issue.show') do
    def show
      @ryspec_test_2 = 'Test 2'

      super
    end
  end

  class_methods do
  end

end
