<% if @journals.any? %>
  <%= easy_journal_render_history(@journals,
    entity: @easy_crm_case,
    collapsible: false,
    wrapping_heading_element_classes: 'icon icon-workflow',
    loader: @journal_count > @journals.size
  ) %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
