<p><%= f.check_box :allow_time_entry_zero_hours, :label => l(:label_setting_allow_time_entry_zero_hours) %></p>
<p><%= f.check_box :allow_time_entry_negative_hours, :label => l(:label_setting_allow_time_entry_negative_hours) %></p>