Rys::Patcher.add('IssuesController') do
  # apply_if_plugins :easy_extensions

  included do
    before_action :custom_builtin_role_add_flash_notice, only: [:show]
  end

  instance_methods do
    def show
      Rys::Feature.on('custom_builtin_role.issue.show') do
        @custom_builtin_role_test_1 = 'Test 2'
      end

      super
    end

    private

      def custom_builtin_role_add_flash_notice
        if Rys::Feature.active?('custom_builtin_role.issue.show', 'custom_builtin_role.project.show')
          flash.now[:notice] = 'Features are activated'
        end
      end
  end

  instance_methods(feature: 'custom_builtin_role.issue.show') do
    def show
      @custom_builtin_role_test_2 = 'Test 2'

      super
    end
  end

  class_methods do
  end
end
