/config/database.yml
/config/email.yml
/config/environments/easy.rb
/config/configuration.yml
/config/configuration.yml.kopie
/config/initializers/secret_token.rb
/config/initializers/pdfkit.rb
/config/initializers/easy.rb
/config/initializers/easy_hosting_services.rb
/db/schema.rb
/log/**
!/log/.gitkeep
/files/**
!/files/.gitkeep
/public/plugin_assets/*
/public/500.html
/public/404.html
/public/javascripts/easy_javascripts.js
/public/javascripts/redmine_cached_js.js
/public/stylesheets/easy_stylesheets.css
/nbproject/*
/nbproject/project.properties
/nbproject/project.xml
/sql/**
/git_repositories/**
/tmp/**
!/tmp/cache/.gitkeep
!/tmp/pdf/.gitkeep
!/tmp/pids/.gitkeep
!/tmp/sessions/.gitkeep
!/tmp/sockets/.gitkeep
!/tmp/test/.gitkeep
!/tmp/thumbnails/.gitkeep
/vendor/*
/.bundle
/Gemfile.lock
/Gemfile.local
/.rbx
*.DS_Store
.rvmrc
.ruby-version
.project
.idea
.rubocop.yml
.pronto.yml
*~
/plugins/easyproject/easy_plugins/easy_extensions/config/test_conf.yml
/TESTING
public/images/easy_images/*
public/stylesheets/easy_theme_designer/*
.gemtags
.tags
/public/javascripts/redmine_extensions/
/public/assets
plugins/*/.git
plugins/*/.git*
plugins/*/.openshift
public/javascripts/redmine_extensions/*
.bigdemo.yml
.easy_cloud.yml
