<li class="easy-knowledge-new-story">
  <%= render :partial => 'easy_knowledge_stories/new_story', :locals => {:entity_type => new_story[:entity_type], :entity_id => new_story[:entity_id], :name => new_story[:name]} -%>
</li>
