<% if @journals.any? %>
  <%= easy_journal_render_history(@journals,
    entity: @entity,
    collapsible: false,
    wrapping_heading_element_classes: 'icon icon-workflow',
    reply_links: @entity.try(:notes_addable?),
    loader: false,
  ) %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
