<div class="box">
  <%= toggling_fieldset(l(:title_help, :scope => [:helper_module]), {:default_button_state => true, :ajax_call => false}) do %>
    <%=raw l(:text_easy_entity_csv_import_help) %>
  <% end %>
</div>
